In [1]:
import pandas as pd
Dataset = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "Latin-1")
Dataset.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [2]:
# Question No. 11
df_1 = Dataset[['Item', 'Y2014', 'Y2017']]
df_1.groupby(['Item']).sum().loc['Animal fats']

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [3]:
# Question No. 12
print(f"Mean = {Dataset['Y2015'].mean()}")
print(f"Standars Deviation = {Dataset['Y2015'].std()}")

Mean = 135.23596649549236
Standars Deviation = 1603.4039839423301

In [4]:
# Question No. 13
Dataset['Y2016'].isnull().sum()

1535

In [5]:
# Percentage
(Dataset['Y2016'].isnull().sum()/len(Dataset['Y2016']))*100

2.5187470259094566

In [20]:
# Question No. 14
# Dataset.corr()
Dataset.corr().loc['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [23]:
# Question No. 15
df_2 = Dataset[['Element', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]
df_2.groupby(['Element']).sum().loc['Import Quantity']

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64

In [8]:
# Question No. 16
df_2.groupby(['Element']).sum().loc['Production']['Y2014']

1931287.75

In [14]:
# Question No. 17
df_3 = Dataset[['Element', 'Y2018']].groupby('Element').sum().sort_values('Y2018')
df_3

                                             Y2018
Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Stock Variation                           20577.91
Seed                                      25263.14
Residuals                                 34864.00
Food supply quantity (kg/capita/yr)       49056.85
Other uses (non-food)                     91300.97
Losses                                   163902.00
Export Quantity                          181594.80
Feed                                     233489.68
Import Quantity                          287997.09
Processing                               308429.00
Food supply (kcal/capita/day)            455261.00
Total Population - Both sexes           1140605.00
Food                                    1303841.28
Production                              2075072.89
Domestic supply quantity                2161192.10

In [15]:
# Maximum Value
df_3.iloc[-1]

Y2018    2161192.1
Name: Domestic supply quantity, dtype: float64

In [16]:
# Question No. 18
# 3rd Minimum value
df_3.iloc[2]

Y2018    11833.56
Name: Protein supply quantity (g/capita/day), dtype: float64

In [17]:
# Question No. 19
Dataset.groupby(['Area', 'Element']).sum().loc['Algeria', 'Import Quantity']['Y2018']

36238.29

In [18]:
# Question No. 20
len(Dataset.groupby(['Area'])['Area'].count())

49